/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
background-color: #eee;
}

@font-face {
    font-family: 'From Where You Are';
    src: url('fonts/fromwhereyouare-webfont.woff2') format('woff2'),
         url('fonts/fromwhereyouare-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mikado Regular';
    src: url('fonts/mikado_regular-webfont.woff2') format('woff2'),
         url('fonts/mikado_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
     font-family: 'Mikado Medium';
     src: url('fonts/mikado_medium-webfont.woff2') format('woff2'),
          url('fonts/mikado_medium-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
    font-family: 'Mikado Bold';
    src: url('fonts/mikado_bold-webfont.woff2') format('woff2'),
         url('fonts/mikado_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.write{
  background-color: #FFF;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.lateraldireita{
position: absolute;
top:0;
}

.lateral{
  width: 50%;
  margin-top: 30px;
}


.detalhecanto{
  position: absolute;
  right:0;
  top: 0;
}

.lateral2{
  margin-top: 30px;
}

.lateralesquerda{
position: absolute;
bottom:0;
}

.iconbichos{
  width: 80px;
  -webkit-box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
-moz-box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
}

.plaquinha{
  background-color: #FFF;
  border: 10px solid #5a58a1;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  width: 50%;
  margin-left: 40%;
  margin-top: 50px;
  -webkit-box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
  -moz-box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
  box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
}

.tracoazul{
  color: #2faed1;
}

.textoplaquinha{
  font-family: "From where you are";
  color:#5e5ca7;
  font-size: 2.5em;
  line-height: 1.3em;
}

.lightplaquinha{
  font-size: 0.8em !important;
  color: #83709d;
}

.textdestaque {
  color:#2faed1;
  font-weight: bold;
}

h5, p{
  color: #636363;
}
