/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
background-color: #eee;
}

@font-face {
    font-family: 'From Where You Are';
    src: url('fonts/fromwhereyouare-webfont.woff2') format('woff2'),
         url('fonts/fromwhereyouare-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mikado Regular';
    src: url('fonts/mikado_regular-webfont.woff2') format('woff2'),
         url('fonts/mikado_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
     font-family: 'Mikado Medium';
     src: url('fonts/mikado_medium-webfont.woff2') format('woff2'),
          url('fonts/mikado_medium-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
    font-family: 'Mikado Bold';
    src: url('fonts/mikado_bold-webfont.woff2') format('woff2'),
         url('fonts/mikado_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.write{
  background-color: #FFF;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.lateraldireita{
position: absolute;
top:0;
}

.lateral{
  width: 50%;
  margin-top: 30px;
}


.detalhecanto{
  position: absolute;
  right:0;
  top: 0;
}

.lateral2{
  margin-top: 30px;
}

.lateralesquerda{
position: absolute;
bottom:0;
}

.footerlateral{
  position: absolute;
  margin-top: -1195px;
  z-index: 1;
  right: 0;
}

#textareaa{
padding-top: 5px;
 height: 10rem !important;
}

.contato{
  background-image: url(../img/pattern-purple.png);
  padding: 2% !important;
  bottom: 0px;
  border-radius: 150px 2px 2px 150px;
}

.pais{
  padding: 2% !important;
}

.numeros{
  border-radius: 2px 20px 2px 20px;
  background-image: url(../img/pattern-blue.png);
}

.contato h2{
  color: #FFF;
}
.lateral3{

}

.iconbichos{
  width: 80px;
  -webkit-box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
-moz-box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
}

.plaquinha{
  background-color: #FFF;
  border: 18px solid #5a58a1;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  width: 50%;
  margin-left: 40%;
  margin-top: 50px;
  -webkit-box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
  -moz-box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
  box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
  z-index: 20;
}

.tracoazul{
  color: #2faed1;
}

.textoplaquinha{
  font-family: "From where you are";
  color:#5e5ca7;
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 20px;
}

.lightplaquinha{
  font-size: 0.8em !important;
  color: #83709d;
}

.textdestaque {
  color:#2faed1;
  font-weight: bold;
}

h2{
  font-family: "From where you are";
  color: #2faed1;
  margin-top: 64px;
}

h5, p{
  color: #636363;
}

p{
font-size: 1.2em;
}

i {
    color: #F1CF17;
    font-size: 2.3em !important;
    margin-right: -20px;
}

h4{
    font-family: "From where you are";
    color: #e5c413;
    margin-bottom: 2px;
}
h5{
    font-family: "From where you are";
    color: #FFF;
    font-size: 1em;
    margin-top: 2px;
}

.text-write{
  color: #FFF;
}

.comentariovideo{
  font-family: "Mikado Medium";
  color: #5e5ca7;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1em;
}

.videoy{
  -webkit-box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
  -moz-box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
  box-shadow: 6px 7px 55px -7px rgba(0,0,0,0.61);
  z-index: 20;
}

.text-comum{
  color: #636363;
  text-align: left;
  font-size: 1.6em;
}

::-webkit-input-placeholder {
   color: #30aed1;
}

:-moz-placeholder {
   color: #30aed1;
}

::-moz-placeholder {
   color: #30aed1;
}

:-ms-input-placeholder {
   color: #30aed1;
}
